

body {
  background-image: url("./bigbot.png"), url("./stars2.jpg");
  background-repeat: no-repeat, repeat;
  background-attachment: fixed, fixed;
  background-size:130px 130px,  auto;
  background-position: bottom right, center;
  font-family: 'Kurale', serif;
  color: white;
}

h1 {
  color: white;
}
